# Local model files and endpoints
LOCAL_MODEL_NAME=gemma-4-E2B_q4_0-it.gguf
LOCAL_BASE_URL=http://127.0.0.1:8000/v1/

# Cloud model files and endpoints
CLOUD_MODEL_NAME=gemini-3.5-flash-lite
CLOUD_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
CLOUD_API_KEY=your-cloud-api-key

# Exa api key for web_search and web_fetch
EXA_API_KEY=your-exa-api-key

# Browser Automation Headless Mode (true / false)
HEADLESS=true
